body
{
    background-image: url("racunalo.jpg")
    background-position-y: top;
    background-position-x: right;
    background-repeat: no-repeat;

}
p
{
    font-family: Verdana,Helvetica, sans-serif;
    font-size: 12px;
}
